{% extends 'my_app/base.html' %}

{% block title %}О нас{% endblock %}

{% block content %}
    <h2>О нас</h2>
    <p>Добро пожаловать на страницу "О нас"! Мы — команда профессионалов, занимающихся разработкой и поддержкой портала безопасности.</p>
    
    <h3>Наша миссия</h3>
    <p>Мы стремимся обеспечить безопасность и удобство для наших пользователей, предоставляя современные решения для управления заявками и инцидентами.</p>
    
    <h3>Наши ценности</h3>
    <ul>
        <li>Качество: Мы всегда стремимся к высокому качеству наших услуг.</li>
        <li>Инновации: Мы используем передовые технологии для решения задач.</li>
        <li>Клиентоориентированность: Мы всегда на стороне наших пользователей.</li>
    </ul>
    
    <h3>Контакты</h3>
    <p>Если у вас есть вопросы, вы можете связаться с нами по электронной почте: <a href="mailto:support@example.com">support@example.com</a>.</p>
{% endblock %}