<!-- templates/task_list.html -->
{% extends 'my_app/base.html' %}

{% block title %}Список заявок{% endblock %}

{% block content %}
    <h2>Список заявок</h2>
    <table>
        <thead>
            <tr>
                <th>ID заявки</th>
                <th>Дата заявки</th>
                <th>Описание проблемы</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.task_id }}</td>
                    <td>{{ task.task_date|date:"d.m.Y H:i" }}</td>
                    <td>{{ task.problem_description }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}